@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SeguridadViewModel
@using SanPablo.Reclutador.Entity
@using System.Collections.Generic


@{
    
}
@section Head{
}

@section Scripts{

<script type="text/javascript">
    

    $(document).ready(function () {

        $("#logoInicial")
	    .css({
	        height: "600px",
	        width: "600px"
            });

    });


</script>
}
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
            
            </div>
           @* <form class="formulario-busqueda">*@
@using (Html.BeginForm("Index", "Seguridad", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmInicio", @class = "formulario-busqueda" }))
{
    @Html.ValidationSummary(true)
          <div style="margin:0 auto; text-align:center;">
                        <img  id="logoInicial" height="600" width="600" src="~/Content/images/Banner-Selección-03.png" />
          </div>
        }
        </div>
     </div>
</div>
