@{
    ViewBag.Title = "Listado Solicitud Cargo";
}
@section Head{
}

@section Scripts{

<script type="text/javascript">
    //Table initialisation 
    $(document).ready(function () {
        jQuery("#grdListEstudios").jqGrid({
            url: '@Url.Action("ListaEstudios", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', 'Codigo', 'Grado de Estudios', 'Carrera', 'Nivel Alcanzado'],
            colModel: [
                    { name: 'CodigoRadio', index: 'CodigoRadio', align: 'center', width: 10, formatter: RadioFormatter },
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'GradoEstudios', index: 'GradoEstudios', align: 'left', editable: false, sortable: false },
                    { name: 'Carrera', index: 'Carrera', align: 'left', editable: false, sortable: false },
                    { name: 'Estado', index: 'Estado', align: 'left', editable: false, sortable: false }
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            height: 120,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });


        jQuery("#grdListFunciones").jqGrid({
            url: '@Url.Action("ListaFunciones", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', 'Codigo', 'Descripci&oacuten'],
            colModel: [
                    { name: 'CodigoRadio', index: 'CodigoRadio', align: 'center', width: 10, formatter: RadioFormatter },
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            /*caption: 'Horario de Trabajo',*/
            height: 120,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });

        jQuery("#grdListCompetencias").jqGrid({
            url: '@Url.Action("ListaCompetencias", "SolicitudCargo")',
            datatype: 'json',
            mtype: 'POST',
            colNames: ['', 'Codigo', 'Descripci&oacuten'],
            colModel: [
                     { name: 'CodigoRadio', index: 'CodigoRadio', align: 'center', width: 10, formatter: RadioFormatter },
                    { name: 'Codigo', index: 'Codigo', align: 'center', editable: false, sortable: false, hidden: true },
                    { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
            ],
            sortname: 'Codigo',
            sortorder: 'desc',
            viewrecords: true,
            /*caption: 'Horario de Trabajo',*/
            height: 120,
            width: 930,
            rowNum: 0,
            cellsubmit: 'clientArray',
            hidegrid: false,
            postData: {

            },
            loadComplete: function (data) {

            }
        });

    });

    function RadioFormatter(cellvalue, options, rowObject) {
        var strRdo = '<input type ="radio" name = "codigo">';
        return strRdo;
    }

    function irATab(tab) {
        $('a[href=#' + tab + ']').tab('show');
    }

    function mostrarAprobarDesaprobar() {
        $('#modalAprobarRechazar').modal('show');
    }

    function mostrarConfirmacion() {
        $('#modalConfirmacion').modal('show');
    }

    function ocultarAprobarDesaprobar() {
        $('#modalAprobarRechazar').modal('hide');
    }

    function ocultarConfirmacion() {
        $('#modalConfirmacion').modal('hide');
    }
    function deshabilita() {
        $('#taobservacionaprobacion').modal('hide');
    }
    function habilita() {
        $('#taobservacionaprobacion').modal('show');
    }
</script>
}
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Solicitud Nuevo Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    <button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>
                </div>
            </div>
            <form class="formulario-busqueda">
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Solicitud</label>
                            <div class="controles">
                                <input type="text" class="input-small" id="txtcodigo" disabled="disabled" value="REQ0001">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Dependencia</label>
                            <div class="controles">
                                <select id="sedependencia" class="select-large valid">
                                    <option>Seleccionar</option>
                                    <option selected="selected">Gerencia Médica</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Cargo</label>
                            <div class="controles">
                                <input type="text" class="input-medium valid" id="txtnombre" value="Técnico Enfermería">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Departamento</label>
                            <div class="controles">
                                <select id="sedepartamento" class="select-large valid">
                                    <option>Seleccionar</option>
                                    <option selected="selected">Enfermería</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Descripción</label>
                            <div class="controles">
                                <input type="text" class="input-medium valid" id="txtdescripcion" value="Técnico Enfermería">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Área</label>
                            <div class="controles">
                                <select id="searea" class="select-large valid">
                                    <option>Seleccionar</option>
                                    <option selected="selected">Cuidados Intensivos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Nro. Posiciones</label>
                            <div class="controles">
                                <input type="text" class="input-mini valid" id="txtvacantes" value="3">
                            </div>
                        </div>
                    </div>   
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Rango salarial bruto propuesto (S/.)</label>
                            <div class="controles">
                                <select>
                                    <option>Menos de 1000</option>
                                    <option>De 1000 a 2000</option>
                                    <option>De 2000 a 3000</option>
                                    <option>De 3000 a 4000</option>
                                    <option>De 4000 a 5000</option>
                                    <option>De 5000 a 6000</option>
                                    <option>De 6000 a más</option>
                                </select>
                            </div>
                        </div>
                    </div>                                        
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Código de Cargo</label>
                            <div class="controles">
                                <input type="text" class="input-small">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <h5>Perfil</h5>
            
            <div>
                <div class="grilla-opciones">
                <h6>Estudios</h6>
                <div style="clear:both"></div>
                <textarea style="width:900px;margin-left:8px;" rows="3"></textarea>
                </div>
            </div>
            <div>
                <div class="grilla-opciones">
                <h6>Competencias</h6>
                <div style="clear:both"></div>
                <textarea style="width:900px;margin-left:8px;" rows="3"></textarea>
                </div>
            </div>
            <div>
                <div class="grilla-opciones">
                <h6>Funciones</h6>
                <div style="clear:both"></div>
                <textarea style="width:900px;margin-left:8px;" rows="3"></textarea>
                </div>
            </div>
            <div>
                <div class="grilla-opciones">
                <h6>Observaciones adicionales</h6>
                <div style="clear:both"></div>
                <textarea style="width:900px;margin-left:8px;" rows="3"></textarea>
                </div>
            </div>
            <div class="form-actions">     
                <a class="btn" href="@Url.Action("ListaNuevo", "SolicitudCargo")" onclick="irATab('G');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                <a class="btn btn-info" onclick="mostrarAprobarDesaprobar();"><i class="icon-list icon-white"></i> Aprob/Rech</a>
                <a class="btn btn-info" onclick="mostrarConfirmacion();" href="#"><i class="icon-screenshot icon-white"></i> Enviar</a>
            </div>

        </div>
    </div>
</div>

<div id="modalAprobarRechazar" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>Aprobación/Rechazo</h5>
    </div>
    
    <div class="modal-body">
        <label>Comentarios</label>
        <textarea class="input-porce" id="taobservacionaprobacion" rows="3"></textarea>
        <br />
        <input type="radio" name="Aprob/rech" value="Aprobar" onclick="deshabilita()"/><span>Aprobar</span>
        <input type="radio" name="Aprob/rech" value="Rechazar" checked onclick="habilita()"/><span>Rechazar</span>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" onclick="ocultarAprobarDesaprobar();">Cancelar</a>
        <a href="#" class="btn btn-info">Enviar</a>
    </div>
</div>

<div id="modalConfirmacion" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>Mensaje</h5>
    </div>
    <div class="modal-body">
        <p>¿Está seguro de enviar la solicitud?</p>            
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" onclick="ocultarConfirmacion();">Cancelar</a>
        <a href="#" class="btn btn-info">Aceptar</a>
    </div>
</div>