@{
    ViewBag.Title = "ResultadoExamen2";
}
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Resultado</h5>
                <div class="opciones">
                </div>
            </div>
            <div style="float:left;margin-top:5px;margin-left:10px;">
                <span>Pregunta </span><input type="text" class="input-xmini" value="1"/> <span> de 4</span>
            </div>
            <a class="btn btn-info" style="margin:5px;">Ir a</a>
            <div style="clear:both"></div>
            <div class="grilla-opciones">
                <h6>Comunicación Interpersonal</h6>
                <div class="opciones">
                </div>
                <div style="clear:both"></div>
            </div>
            <table style="width:100%;margin-left:10px;margin-right:10px;">                                         
                <tbody><tr>                        
                    <td>1.- Yo si se escuchar siempre estoy atento y en actitud receptiva.
                    </td>                     
                </tr>
                <tr><td><input type="radio" name="pregunta2"> &nbsp;No muy Exacta </td></tr>
                <tr><td><input type="radio" name="pregunta2"> &nbsp;Ligeramente Exacta</td></tr>
                <tr><td><input type="radio" name="pregunta2"> &nbsp;Generalmente Exacta</td></tr>
                <tr><td><input type="radio" name="pregunta2"> &nbsp;Muy Exacta</td></tr>
                  
            </tbody></table>   
            <div class="form-actions">       
                <a class="btn btn-info"href="@Url.Action("ResultadoExamen1", "SolicitudCargo")"><i class="icon-arrow-left icon-white"></i> Anterior</a>
                <a class="btn btn-info"href="@Url.Action("ResultadoExamen3", "SolicitudCargo")"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
            </div>                     
        </div>

    </div>
</div>

