@model SanPablo.Reclutador.Web.Areas.Intranet.Models.PerfilViewModel
@{
    ViewBag.Title = "Configuracion Perfil";
    //Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
}
@section Scripts{
}

<div class="span12">
    @Html.Partial("PerfilCargo")
</div>
<!--CONFIGURACION PERFIL -->
     
    <div class="tab-pane" id="H">
        <form>
            <div class="grilla-opciones" style="margin-top:0px;">
                <h6>Parámetros</h6>
                <div class="opciones">
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="margin-left:20px;">
                <table style="width: 900px;" border="0">
                    <tr>
                        <td style="width: 50%; vertical-align: top">
                                <h6>Parámetros Pre-Selección</h6>
                                <table border="0">
                                    <tr>
                                        <td style="width: 80px;"></td>
                                        <td></td>
                                        <td>Ptje.
                                        </td>
                                        <td style="width: 10px;"></td>
                                        <td>Ptje.Min
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label" style="width: 130px;">
                                            <label>Postulante Interno</label></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0" disabled="disabled"></td>
                                        <td></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Edad</td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="8" disabled="disabled"></td>
                                        <td></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label>Sexo</label></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="5" disabled="disabled"></td>
                                        <td></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Rango Salarial</td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="10" disabled="disabled"></td>
                                        <td></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Nivel de Estudios</td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="7" disabled="disabled"></td>
                                        <td></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Centro de Estudios</td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="10" disabled="disabled"></td>
                                        <td></td>

                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Experiencia Laboral</td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="6" disabled="disabled"></td>
                                        <td></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Generales</td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="3" disabled="disabled"></td>
                                        <td></td>

                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Conoc. Idiomas</td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                        <td></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">
                                            <label>Discapacidades</label></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="9" disabled="disabled"></td>
                                        <td></td>

                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td class="td-label">Horario</td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                        <td></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label">Ubigeo</td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="4" disabled="disabled"></td>
                                        <td></td>

                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="td-label"><b>Totales</b></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="84" disabled="disabled"></td>
                                        <td></td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="0" disabled="disabled"></td>

                                    </tr>
                                </table>

                        </td>
                        <td style="width: 50%; vertical-align: top">
                            <h6>Parámetros Selección</h6>
                                <table border="0">
                                        <tr>
                                        <td></td>
                                        <td>Ptje.
                                            </td>
                                            <td style="width:10px;"></td>
                                        <td>Ptje.Min
                                            </td>

                                    </tr>
                                    <tr>
                                        <td class="td-label" style="width:130px;">Exámenes</td>
                                        <td>
                                            <input type="text" class="input-xxmini text-right" value="5" disabled="disabled"></td>
                                        <td></td>
                                            <td>
                                            <input type="text" class="input-xxmini text-right" value="0"></td>

                                    </tr>                                                       
                                        <tr>
                                        <td colspan="4" style="height:20px;"></td>
                                    </tr>
                                </table>
                            <label>Vacantes por Estado</label>
                                <table border="0">
                                    <tr>
                                        <td class="td-label" style="width:130px;">
                                            Postulantes Pre-Selec.
                                        </td>
                                        <td> <input type="text" class="input-xxmini text-right" value="9"></td>
                                    </tr>
                                        <tr>
                                        <td colspan="2" style="height:40px;">                                                            
                                        </td>                                                            
                                    </tr>
                                </table>
                                </td>
                    </tr>                                                             
                                                                                                                 
                                                                              
                    </table>
            </div>
        </form>
        <div class="formulario-accion">
            <div class="opciones">
                <a class="btn btn-info"><i class="icon-hdd icon-white"></i> Grabar</a>                        
                <a class="btn" href="#" onclick="irATab('G');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
            </div>
        </div>
    </div>

    <!--CONFIGURACION PERFIL-->
