@model SanPablo.Reclutador.Web.Models.SeguridadViewModel
@{
    Layout = "";
}


<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //$(".ui-dialog-titlebar-close").hide();
    });

</script>


@using (Html.BeginForm("RestablePass", "Seguridad", FormMethod.Post, new { id = "frmPopupRestablecePass" }))
    {
    @Html.ValidationSummary(true)
   
    <table style="margin-left:30px;">
        
          
        <tr>
             <td class="colEtiqueta" colspan="2" >
                <label  for="setipoInstitucion">Ingrese su correo electrónico y le enviaremos su contraseña.<span class="text-error"></span></label>
            </td>
        </tr>
         <tr><td>&nbsp;</td></tr>
        <tr >  
        
            <td class="colEtiqueta" >
                <label class="etiquetaFormulario" for="setipoInstitucion">Correo Electrónico<span class="text-error">*</span></label>
            </td>
            <td class="colInput" >
               
                @Html.TextBoxFor(model => model.UsuarioExtranet.Usuario, new { @class = "textoFormulario" , maxlength="100",onblur="aMays(event, this)" })                      
                <div class="tex-error" style="font-size:12px;color:red">    
                @Html.ValidationMessageFor(model => model.UsuarioExtranet.Usuario )
                </div>
            </td>
        </tr>
        
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
       
    </table>
}
