@using SanPablo.Reclutador.Entity
@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SolicitudAmpliacionCargoViewModel
@{
    ViewBag.Title = "Evaluacion";
}
@section ScriptsCargo{ 

<script type="text/javascript">
  $(document).ready(function () {

    $(function () {
        jQuery("#grdListEvaluacion").jqGrid({
            url: '@Url.Action("ListaEvaluaciones", "SolicitudAmpliacionCargo")',
                 datatype: 'json',
                 mtype: 'POST',
                 colNames: ['Descripci&oacuten', 'Tipo', 'Nota Mínima'],
                 colModel: [
                         { name: 'Descripcion', index: 'Descripcion', align: 'left', editable: false, sortable: false },
                         { name: 'Tipo', index: 'Tipo', align: 'left', editable: false, sortable: false },
                         { name: 'NotaMinima', index: 'NotaMinima', align: 'left', editable: false, sortable: false },
                 ],
                 pager: jQuery('#grdPagerEvaluacion'),
                 sortname: 'TipoExamen',
                 sortorder: 'desc',
                 viewrecords: true,
                 //cellEdit: true,
                 /*caption: 'Horario de Trabajo',*/
                 height: 200,
                 width: 898,
                 rowNum: 0,
                 cellsubmit: 'clientArray',
                 hidegrid: false,
                 postData: {

                 },
                 loadComplete: function (data) {

                 }
             });
    });

    
</script>
}

@using (Html.BeginForm("Evaluacion", "Perfil", FormMethod.Post, new { @id = "evaluacionPerfilForm" }))
{
    <div class="tab-pane" id="G">
            <div class="grilla-opciones">
                <h6>Evaluaciones <span  class="text-error">*</span></h6>
                <div class="opciones">
                </div>
                <div style="clear:both"></div>
            </div>

            <div class="tabla-datos">
                <table id="grdListEvaluacion">
                </table>
                 <div id="grdPagerEvaluacion">
            </div>
            </div>
                        
            <div class="formulario-accion">
                <div class="opciones">
                <a class="btn" href="#" onclick="irATab('F');"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                <a class="btn btn-info" href="#" onclick="irATab('H');"><i class="icon-arrow-right icon-white"></i> Siguiente</a>

                </div>

            </div> 
        </div>
}

<div id="updateDialogEvaluacion" title="Evaluación"></div>
    <div id="divMensajeConfirmacion">
        <span id="spanMensajeConfirmacion"></span>
    </div>