@model SanPablo.Reclutador.Web.Areas.Intranet.Models.SolicitudRempCargoViewModel
@{
    ViewBag.Title = "Solicitud Ampliación";
}
@section Head{
}

@section Scripts{

<script type="text/javascript">
    //Table initialisation 
    $(document).ready(function () {
        $("#txtfechapublicacion").datepicker();
        $("#txtfechaexpiracion").datepicker();
        
        var dlgobservacion = $("#dlgAprobarRechazo").dialog(
           {
               autoOpen: false,
               modal: true,
               title: "Aprobación/Rechazo",
               width: 600,
               height: 300,
               buttons: {
                   "Grabar": function () {
                       //AsociarReciboAPolizaCorrecta();
                       return true;
                   },
                   "Cancelar": function () {
                       $(this).dialog("close");
                       return false;
                   }
               }
           });

        $("#dlgEnviarSolicitud").dialog({
            autoOpen: false,
            resizable: false,
            height: 180,
            modal: true,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dlgGrabar").dialog({
            autoOpen: false,
            resizable: false,
            height: 180,
            modal: true,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });
        //$("#txtEdadInicial").spinner();
        //$("#txtEdadFinal").spinner();

    });
    function RadioFormatter(cellvalue, options, rowObject) {
        var strRdo = '<input type ="radio" name = "codigo">';
        return strRdo;
    }

    function irATab(tab) {
        $('a[href=#' + tab + ']').tab('show');
    }

    function mostrarAprobarRechazar() {
        $("#dlgAprobarRechazo").dialog('open');
    }

    function mostrarEnvio(id) {
        $("#dlgEnviarSolicitud").dialog("open");
    }

    function mostrarGrabar(id) {
        $("#dlgGrabar").dialog("open");
    }

</script>
}
<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Solicitud de Ampliación de Cargo</h5>
                <div class="opciones">
                    <label>Estado</label>
                    @Html.TextBoxFor(model => model.SolReqPersonal, new { @class = "btn btn-primary btn-small disabled", disabled = "disabled" })
                    @*<button class="btn btn-primary btn-small disabled" disabled="disabled">Activo</button>*@
                </div>            
            </div>
            <h5>Motivo requerimiento</h5>
            <form class="formulario-busqueda">
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Requerimiento</label>
                            <div class="controles">
                                <input type="text" class="input-small" id="txtcodigo" disabled="disabled" value="REQ0001">
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="selectError">Dependencia <span class="text-error">*</span></label>
                            <div class="controles">
                                <select id="sedependencia" class="select-large valid">
                                    <option selected="selected">Gerencia Médica</option>
                                </select>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Tipo Puesto <span class="text-error">*</span></label>
                            <div class="controles">
                                <select id="setipopuesto" class="select-large valid">
                                    <option>Seleccionar</option>
                                    <option>Tiempo Completo</option>
                                    <option>Tiempo Parcial</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Departamento <span class="text-error">*</span></label>
                            <div class="controles">
                                <select >
                                    <option>Seleccionar</option>                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Área <span class="text-error">*</span></label>
                            <div class="controles">
                                <select id="searea" class="select-large valid">
                                    <option>Seleccionar</option>
                                    <option selected="selected">Cuidados Intensivos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Vacantes <span class="text-error">*</span></label>
                            <div class="controles">
                                <input type="text" class="input-mini" id="txtcantidad" value="1">
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Cargo <span class="text-error">*</span></label>
                            <div class="controles">
                                <select id="setipo" class="select-large valid">
                                    <option>Seleccionar</option>
                                    <option>Técnico en Enfermería</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Motivos</label>
                            <div class="controles">
                                <textarea class="input-large" rows="3"></textarea>
                            </div>
                        </div>
                    </div>   
                </div>

                <div class="formulario-fila">
                    <div class="span5">
                        <div class="">
                            <label class="control-label" for="inputSuccess">Observaciones</label>
                            <div class="controles">
                                <textarea class="input-large" rows="3"></textarea>
                            </div>
                        </div>
                    </div>                    
                </div>
            </form>
            <div class="form-actions">
                <a class="btn" href="@Url.Action("ListaAmpliacion", "SolicitudCargo")"><i class="icon-arrow-left icon-cog"></i> Anterior</a>
                <button type="submit" class="btn btn-info" onclick="mostrarAprobarRechazar()"><i class="icon-list icon-white"></i> Aprob/Rech</button>
                <button type="submit" class="btn btn-info" onclick="mostrarEnvio()"><i class="icon-screenshot icon-white"></i> Enviar</button>
                <a class="btn btn-info" href="@Url.Action("Publicacion", "SolicitudCargo")"><i class="icon-circle-arrow-up icon-white"></i> Publicar</a>
            </div>
        
        </div>
    </div>
</div>

<div id="dlgAprobarRechazo">
    <table style="width:100%">
        <tr><td>Comentarios</td></tr>
        <tr>               
            <td><textarea class="input-xxlarge" id="taobservacionaprobacion" rows="3"></textarea></td>
        </tr>
        <tr>
            <td style="height:10px;"></td>
        </tr>
        <tr>
            <td ><input type="radio" name="aprobacion" value="1" /> Aprobar <input type="radio" name="aprobacion" value="0" /> Rechazar</td>
        </tr>
    </table>
</div>

<div id="dlgEnviarSolicitud" title="Mensaje">
    <p></p> <p></p>
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>¿Está seguro de enviar la solicitud?</p>
</div>

<div id="dlgGrabar" title="Mensaje">
    <p></p> <p></p>
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>¿Está seguro de grabar la solicitud?</p>
</div>
