@model SanPablo.Reclutador.Web.Areas.Intranet.Models.RankingViewModel
@{
    Layout = "";
}

<script src="@Url.Content("~/Scripts/Funciones.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {


        jQuery("#grdListaPostulaciones").jqGrid({
            datatype: function (postdata) {
                var migrilla = new Object();
                migrilla.page = postdata.page;
                migrilla.rows = postdata.rows;
                migrilla.sidx = postdata.sidx;
                migrilla.sord = postdata.sord;
                migrilla._search = postdata.isSearch;
                migrilla.filters = postdata.filters;
                migrilla.Rules = [
                       { field: 'postulaciones', data: $("#postulaciones").val() },

                ];

                if (migrilla._search == true) {
                    migrilla.searchField = postdata.searchField;
                    migrilla.searchOper = postdata.searchOper;
                    migrilla.searchString = postdata.searchString;
                }

                var params = { grid: migrilla };

                $.ajax({
                    url: '@Url.Action("ListaPopupPostulacion", "Ranking", new { area = "Intranet" })',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(params),
                    async: false,
                    success: function (data, st) {
                        if (st == 'success') {
                            var jq = $('#grdListaPostulaciones')[0];
                            jq.addJSONData(data);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            },
            colNames: [''],
            colModel: [
                    { name: 'DESCCATEGORIA', index: 'DESCCATEGORIA', align: 'left', width: 380, sortable: false },
                   
            ],
            pager: jQuery('#grdPagerListaPost'),
            rowNum: 10,
            //rowList: [10, 30, 50],
            autowidth: true,
            rules: true,
            sortname: 'DESCCATEGORIA',
            sortorder: 'desc',
            
            viewrecords: true,
            //height: 340,
            cellsubmit: 'clientArray',
            hidegrid: false,
            shrinkToFit: false,
            autowidth: true,
            
            onSelectAll: function (aRowids, status) {
                completeRow = aRowids;
                CompleteStatus = status;
            },
            onSelectRow: function (rowid, status) {
                SelectRowdata = rowid;
                SelectedRowStatus = status;
            },

            postData: {
            }, loadComplete: function (data) {
            }
        });
     });

</script>


@using (Html.BeginForm("Index", "Ranking", FormMethod.Post, new { id = "frmPopuPostulacion" }))
    {
         @Html.ValidationSummary(true)
         @Html.TextBoxFor(model => model.postulaciones, new { style = "display: none;" }) 
        
       <div class="tabla-datos" id="tbSede">
        <table id="grdListaPostulaciones">
        </table>
        <div id="grdPagerListaPost">
        </div>
        </div>
    }

