@model SanPablo.Reclutador.Web.Models.ExperienciaPostulanteGeneralViewModel
@{
    ViewBag.Title = "Experiencia";
    Layout = "~/Views/Shared/_LayoutExtranet.cshtml";
}
@section Head{
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            jQuery("#grdList").jqGrid({
                url: '@Url.Action("ListaExperienciaLaboral", "Postulante")',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Empresa', 'Cargo', 'Fecha Inicio', 'Fecha Fin', 'Tiempo Servicio', 'Motivo Cese'],
                colModel: [
                        { name: 'Empresa', index: 'Empresa', align: 'left', sortable: false },
                        { name: 'Cargo', index: 'Cargo', align: 'left', sortable: false },
                        { name: 'FechaInicio', index: 'FechaInicio', align: 'left', sortable: false },
                        { name: 'FechaFin', index: 'FechaFin', align: 'left', sortable: false },
                        { name: 'TiempoServicio', index: 'TiempoServicio', align: 'left', sortable: false },
                        { name: 'MotivoCese', index: 'MotivoCese', align: 'left', sortable: false },
                ],
                sortname: 'Nombre',
                sortorder: 'desc',
                viewrecords: true,
                autowidth: true,
                height: 120,
                width: 736,
                rowNum: 0,
                cellsubmit: 'clientArray',
                hidegrid: false,
                postData: {

                },
                loadComplete: function (data) {

                }
            });

            $('#updateDialog').dialog({
                autoOpen: false,
                width: 600,
                resizable: false,
                modal: true,
                buttons: {
                    "Grabar": function () {
                        $.post("/ExperienciaPostulante/Edit",
                            $("#experienciaPostulanteForm").serialize(),
                            function (data) {
                                $("#updateDialog").dialog("close");
                            }
                        );
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#btnAgregar').click(function () {
                mostrarAgregarExperiencia();
            });

            $('#btnEditar').click(function () {
                var selr = jQuery('#grdList').jqGrid('getGridParam', 'selrow');
                alert(selr);
            });
        });


        function mostrarAgregarExperiencia() {
            var dialogDiv = $('#updateDialog');
            $.get("/ExperienciaPostulante/Edit", function (data) {
                dialogDiv.html(data);
                dialogDiv.dialog('open');
            });
            return false;
        }
    </script>
}
<div class="span12">
    @Html.Partial("MenuCv")
</div>

<div class="row">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Experiencia Laboral</h5>
            </div>
            <div class="grilla-opciones">
                <div class="opciones">
                    <a id="btnAgregar" class="btn btn-small btn-info" title="Agregar"><i class="icon-plus icon-white"></i></a>  
                    <a id="btnEditar" class="btn btn-small btn-info" title="Editar"><i class="icon-edit icon-white"></i></a>
                    <a id="btnEliminar" class="btn btn-small btn-info" title="Eliminar"><i class="icon-remove icon-white"></i></a>                                  
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="width: 100%;">
                <div>
                    <table id="grdList">
                    </table>
                    <div id="grdPager">
                    </div>
                </div>
            </div>
            <div class="formulario-accion">
                <div class="opciones">
                    <a class="btn" href="@Url.Action("EstudioPostulante", "Postulante")"><i class="icon-arrow-left icon-black"></i> Anterior</a>
                    <a class="btn btn-info" href="@Url.Action("Conocimientos", "Postulante")"><i class="icon-arrow-right icon-white"></i> Siguiente</a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
<div id="updateDialog" title="Agregar Experiencia"></div>



