@model SanPablo.Reclutador.Web.Areas.Intranet.Models.CentroEstudioViewModel
@{
    Layout = "";
}

<script type="text/javascript">
    $(document).ready(function () {
               
        
    });
</script>



@using (Html.BeginForm("Index", "CentroEstudioCargo", FormMethod.Post, new { @id = "centroEstudioForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong> Verifique que los datos ingresados sean correctos.
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @*@Html.HiddenFor(model => model.Cargo.IdeCargo)*@
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Tipo de Institución <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.CentroEstudio.TipoCentroEstudio, new SelectList(Model.TiposInstitucion, "Valor", "Descripcion", Model.CentroEstudio.TipoCentroEstudio))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @*@Html.ValidationMessageFor(model => model.Discapacidad.TipoDiscapacidad)*@
                </div>
            </td> 
        </tr>
        <tr>
            <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Nombre Institución <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                 @Html.DropDownListFor(model => model.CentroEstudio.TipoNombreCentroEstudio, new SelectList(Model.Instituciones, "Valor", "Descripcion", Model.CentroEstudio.TipoNombreCentroEstudio))
                <div class="tex-error" style="font-size:12px;color:red"> 
                @*@Html.ValidationMessageFor(model => model.Discapacidad.TipoDiscapacidad)*@
                </div>
            </td>
        </tr>
       <tr>
           <td class="colEtiqueta">
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Puntaje <span class="text-error">*</span></label>
           </td>
           <td>
                @Html.TextBoxFor(model => model.CentroEstudio.PuntajeCentroEstudios, new {@class="input-xxmini" })
           </td>
       </tr>  
    </table>
}