@model SanPablo.Reclutador.Web.Areas.Intranet.Models.OfrecimientoViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Edit", "OfrecimientoCargo", FormMethod.Post, new { @id = "ofrecemosForm" }))
{
    @Html.ValidationSummary(true)
    <div class="alert alert-info" id="mensajeError" style="display:none" >
        <a class="close" onclick="hide('mensajeError')" >×</a>
         <strong>ERROR : </strong>
    </div>
    <table style="margin-left:30px;">
        <tr>
            <td class="colEtiqueta">
                @Html.HiddenFor(model => model.Cargo.IdeCargo)
                <label style="width:130px" class="etiquetaFormulario" for="setipoInstitucion">Ofrecimientos <span class="text-error">*</span></label>
            </td>
            <td class="colInput">
                @Html.DropDownListFor(model => model.Ofrecimiento.TipoOfrecimiento, new SelectList(Model.Ofrecimientos, "Valor", "Descripcion", Model.Ofrecimiento.TipoOfrecimiento))
                 <div class="tex-error" style="font-size:12px;color:red"> 
                @Html.ValidationMessageFor(model => model.Ofrecimiento.TipoOfrecimiento)
                </div>
            </td>
        </tr>  
    </table>
}
